.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px #DDDDDD solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-left: 28%;
    margin-right: 30px;
}

button:hover {
    opacity: 90%;
}

.locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid #dddddd;
    text-indent: 30px;
}

.amenities{
    height: 100%;
    width: 25%;
    text-indent: 20px;
}

.locations h3 {
    margin: 0%;
	margin-top: 12px;
	margin-left: 30px;
	font-weight: 600;
	font-size: 19px;
	margin-bottom: 2px;
}

.amenities h3 {
    margin: 0%;
	margin-top: 12px;
	margin-left: 30px;
	font-weight: 600;
	font-size: 19px;
	margin-bottom: 2px;
}

.locations h4 {
    margin: 0%;
	margin-left: 30px;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 18px;
}

.amenities h4 {
    margin: 0%;
	margin-left: 30px;
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 18px;
}

.locations .popover{
    display: none;
    max-width: inherit;
    background-color: #FAFAFA;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.amenities .popover{
    display: none;
    max-width: inherit;
    background-color: #FAFAFA;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.popover h2 {
    margin-left: 0px;
    margin-bottom: 0%;
}

.locations .popover li {
    list-style: none;
    display: block;
    margin-top: 3px;
    margin-left: -17px;
    margin-bottom: 8px;
}

.amenities .popover li {
    list-style: none;
    display: block;
    margin-top: 4px;
    margin-left: -10px;
    margin-bottom: 8px;
}

.amenities:hover .popover {
    display: block;
    position: relative;
}

.locations:hover .popover {
    display: block;
    position: relative;
}
